body {
    background-color: #cbcbcb; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

h3, h4 {
    color: #333;
    margin-bottom: 15px;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    margin: 0 auto; 
    width: 70%;
    max-width: 600px;
}

input[type="text"], button[type="submit"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="submit"], button[type="button"] {
    background-color: #cca063;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #ad8853;
}

button[type="submit"] {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px; 
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

